<html>
    <head>
        <title>Headlines</title>
        <style>
            html{
                font_family: "Helvetica";
                background: white;
            }
            body{
                background: lightgray;
                max-width: 900px;
                margin: 0 auto;
            }
            #header{
                padding-top: 5;
                background: lightblue;
            }
            #inner-header{
                padding-left: 10;
            }
            #main{
                padding-left: 10;
            }
            input[type="text"], select{
                color:grey;
                border: 1px solid lightblue;
                height: 30px;
                line-height: 15px;
                margin: 2px 6px 16px 0px;
            }
            input[type="submit"]{
                padding: 5px 10px 5px 10px;
                color: black;
                background: lightsteelblue;
                border: none;
                box-shadow: 1px 1px 1px #4C6E91;
            }
            input[type="submit"]:hover{
                background: white;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <div id="inner-header">
                <h1>Headlines</h1>
                <h2>Current weather</h2>
            </div>
        </div>
        <div id="main">
        <form>
            <input type="text" name="city" placeholder="weather search">
            <input type="submit" value="Submit">
        </form>
        <p>City: <b>{{weather.city}}, {{weather.country}}</b></p>
        <p>{{weather.description}}|{{weather.temperature}}&#8451</p>
        <h2>Exchange</h2>
        <form>
            from:   <select name="currency_from">
                    {%for currency in currencies%}
                        <option value="{{currency}}"
                        {{'selected="selected"' if currency_from==currency}}>
                        {{currency}}</option>
                    {%endfor%}
                    </select>
            to      <select name="currency_to">
                    {%for currency in currencies%}
                        <option value="{{currency}}"
                        {{'selected="selected"' if currency_to==currency}}>
                        {{currency}}</option>
                    {%endfor%}
                    </select>
                    <input type="submit" value="Submit">
        </form>
        <p>1 {{currency_from}} = {{rate}} {{currency_to}}</p>
        <h2>Headlines</h2>
        <form action="/" method="POST">
            <input type="text" name="publication" placeholder="search"/>
            <input type="submit" value="Submit"/>
        </form>
        {% for article in articles %}
            <b><a href = {{article.link}}>{{article.title}}</a></b><br/>
            <i>{{article.published}}</i><br/>
            <p>{{article.summary}}</p>
            <hr/>
        {% endfor %}
        </div>
    </body>
</html>